@font-face {
	font-family: 'roboto';
	src: url('../assets/fonts/Roboto-Thin.ttf');
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: 'roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'roboto';
	src: url('../assets/fonts/Roboto-Medium.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'roboto';
	src: url('../assets/fonts/Roboto-Bold.ttf');
	font-weight: 900;
	font-display: swap;
}

* {
	font-family: roboto, sans-serif;
	font-weight: 400;
}